@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Nanum+Myeongjo:wght@400;800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
/* CSS Document */

:root {
	--main-bg: #000000;
	--color: #E3E3E3;
	--link-color: #f7f7f7;
}
body {
	background: var(--main-bg);
	color: var(--color);
	font-size: 13px;
}
a {
	color: var(--link-color);
	text-decoration:none;
}

.header {
	display:flex-wrap;
	width:100%;
	height: auto;
	margin:0 auto;
	text-align:center;
}

.header h1 {
	font-family: "Nanum Myeongjo", serif;
	font-weight: 800;
	font-size:3.25rem;
	letter-spacing:2px;
	color: var(--color);
}

#show-work {
	max-width: 1280px;
	margin:0 auto;
	color: var(--color);
	text-align:center;
}
.nav-link, nav-tabs button {
	color:var(--link-color);
	font-family: "Jost", sans-serif;
	font-size:1.35rem;
}

.nav-link, .nav-tabs button:hover {
	font-size:1.42rem;
	text-shadow: 0px 1px 3px #d5e3c5;
	letter-spacing:1px;
	transition:1s;
	color:var(--link-color);
}

.intro-more {
	color:black;
	letter-spacing: 1px;
	font-weight: 600;
	font-size:1.25rem;
}

.subtitle {
	opacity:.7;
	margin:0 auto;
	padding:0;
	font-family: "Jost", sans-serif;
	text-transform:uppercase;
}
